@charset "UTF-8";

body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}
#menu {
    
    /*flex-flow: column wrap;*/
}

header{
    
    flex-flow: column wrap;
}
header > h1{
    flex-basis: 50px;
}
header > nav > a{
    width: 90vw;
}
/*#hamburguer{
    display: block;
}
#menu #show{
    display: block;
}*/